In [1]:
import numpy
import pandas

### DataFrame同士の連結

In [3]:
health_data = pandas.read_pickle("health_data_20210327.pickle")
health_data

               歩数  摂取カロリー   歩数/カロリー    運動指数
date
2017-04-01   5439  2500.0  2.175600     Low
2017-04-02   2510  2300.0  1.091304     Low
2017-04-03  10238  1950.0  5.250256  Middle
2017-04-04   8209  1850.0  4.437297  Middle
2017-04-05   9434  1930.0  4.888083  Middle
2017-04-06   7593  1800.0  4.218333  Middle
2017-04-07   9320  1940.0  4.804124  Middle
2017-04-08   4873  2300.0  2.118696     Low
2017-04-09  12045  1950.0  6.176923    High
2017-04-10   7493  1850.0  4.050270  Middle
2017-04-11   7289  1930.0  3.776684  Middle
2017-04-12   6481  2300.0  2.817826     Low
2017-04-13  10287  1800.0  5.715000  Middle
2017-04-14   8043  1940.0  4.145876  Middle
2017-04-15   7435  2300.0  3.232609  Middle
2017-04-16   7529  2300.0  3.273478  Middle
2017-04-17   8031  1940.0  4.139691  Middle
2017-04-18   8475  2300.0  3.684783  Middle
2017-04-19   8132  1950.0  4.170256  Middle
2017-04-20  15328  1800.0  8.515556    High
2017-04-21  12849  1940.0  6.623196    High
2017-04-22   4029  2300.0  1.751739     Low
2017-04-23   3890  1950.0  1.994872     Low
2017-04-24   8093  1850.0  4.374595  Middle
2017-04-25   7823  1950.0  4.011795  Middle
2017-04-26   7492  1850.0  4.049730  Middle
2017-04-27   7203  1930.0  3.732124  Middle
2017-04-28   7302  1850.0  3.947027  Middle
2017-04-29   6033  2300.0  2.623043     Low
2017-04-30   4093  1950.0  2.098974     Low

In [5]:
exercise_data = pandas.read_pickle("one-hot_exercise.pickle")
exercise_data

            運動_High  運動_Low  運動_Middle
date
2017-04-01        0       1          0
2017-04-02        0       1          0
2017-04-03        0       0          1
2017-04-04        0       0          1
2017-04-05        0       0          1
2017-04-06        0       0          1
2017-04-07        0       0          1
2017-04-08        0       1          0
2017-04-09        1       0          0
2017-04-10        0       0          1
2017-04-11        0       0          1
2017-04-12        0       1          0
2017-04-13        0       0          1
2017-04-14        0       0          1
2017-04-15        0       0          1
2017-04-16        0       0          1
2017-04-17        0       0          1
2017-04-18        0       0          1
2017-04-19        0       0          1
2017-04-20        1       0          0
2017-04-21        1       0          0
2017-04-22        0       1          0
2017-04-23        0       1          0
2017-04-24        0       0          1
2017-04-25        0       0          1
2017-04-26        0       0          1
2017-04-27        0       0          1
2017-04-28        0       0          1
2017-04-29        0       1          0
2017-04-30        0       1          0

### 列方向に連結
複数のDataFrameを結合し、横方向(列方向)に大きくする  
結合の際は、indexが同じもの同士で結合される

In [9]:
# 結合はconcat
# axis=1が列方向を指す
merge_column_data = pandas.concat([health_data,exercise_data],axis=1)
merge_column_data

               歩数  摂取カロリー   歩数/カロリー    運動指数  運動_High  運動_Low  運動_Middle
date
2017-04-01   5439  2500.0  2.175600     Low        0       1          0
2017-04-02   2510  2300.0  1.091304     Low        0       1          0
2017-04-03  10238  1950.0  5.250256  Middle        0       0          1
2017-04-04   8209  1850.0  4.437297  Middle        0       0          1
2017-04-05   9434  1930.0  4.888083  Middle        0       0          1
2017-04-06   7593  1800.0  4.218333  Middle        0       0          1
2017-04-07   9320  1940.0  4.804124  Middle        0       0          1
2017-04-08   4873  2300.0  2.118696     Low        0       1          0
2017-04-09  12045  1950.0  6.176923    High        1       0          0
2017-04-10   7493  1850.0  4.050270  Middle        0       0          1
2017-04-11   7289  1930.0  3.776684  Middle        0       0          1
2017-04-12   6481  2300.0  2.817826     Low        0       1          0
2017-04-13  10287  1800.0  5.715000  Middle        0       0          1
2017-04-14   8043  1940.0  4.145876  Middle        0       0          1
2017-04-15   7435  2300.0  3.232609  Middle        0       0          1
2017-04-16   7529  2300.0  3.273478  Middle        0       0          1
2017-04-17   8031  1940.0  4.139691  Middle        0       0          1
2017-04-18   8475  2300.0  3.684783  Middle        0       0          1
2017-04-19   8132  1950.0  4.170256  Middle        0       0          1
2017-04-20  15328  1800.0  8.515556    High        1       0          0
2017-04-21  12849  1940.0  6.623196    High        1       0          0
2017-04-22   4029  2300.0  1.751739     Low        0       1          0
2017-04-23   3890  1950.0  1.994872     Low        0       1          0
2017-04-24   8093  1850.0  4.374595  Middle        0       0          1
2017-04-25   7823  1950.0  4.011795  Middle        0       0          1
2017-04-26   7492  1850.0  4.049730  Middle        0       0          1
2017-04-27   7203  1930.0  3.732124  Middle        0       0          1
2017-04-28   7302  1850.0  3.947027  Middle        0       0          1
2017-04-29   6033  2300.0  2.623043     Low        0       1          0
2017-04-30   4093  1950.0  2.098974     Low        0       1          0

### 行方向に連結

In [8]:
# 結合はconcat
# axis=0が行方向を指す
# 存在しないデータはNaNで埋められる
merge_row_data = pandas.concat([health_data,exercise_data],axis=0,sort=True)
merge_row_data

            摂取カロリー       歩数   歩数/カロリー  運動_High  運動_Low  運動_Middle    運動指数
date
2017-04-01  2500.0   5439.0  2.175600      NaN     NaN        NaN     Low
2017-04-02  2300.0   2510.0  1.091304      NaN     NaN        NaN     Low
2017-04-03  1950.0  10238.0  5.250256      NaN     NaN        NaN  Middle
2017-04-04  1850.0   8209.0  4.437297      NaN     NaN        NaN  Middle
2017-04-05  1930.0   9434.0  4.888083      NaN     NaN        NaN  Middle
2017-04-06  1800.0   7593.0  4.218333      NaN     NaN        NaN  Middle
2017-04-07  1940.0   9320.0  4.804124      NaN     NaN        NaN  Middle
2017-04-08  2300.0   4873.0  2.118696      NaN     NaN        NaN     Low
2017-04-09  1950.0  12045.0  6.176923      NaN     NaN        NaN    High
2017-04-10  1850.0   7493.0  4.050270      NaN     NaN        NaN  Middle
2017-04-11  1930.0   7289.0  3.776684      NaN     NaN        NaN  Middle
2017-04-12  2300.0   6481.0  2.817826      NaN     NaN        NaN     Low
2017-04-13  1800.0  10287.0  5.715000      NaN     NaN        NaN  Middle
2017-04-14  1940.0   8043.0  4.145876      NaN     NaN        NaN  Middle
2017-04-15  2300.0   7435.0  3.232609      NaN     NaN        NaN  Middle
2017-04-16  2300.0   7529.0  3.273478      NaN     NaN        NaN  Middle
2017-04-17  1940.0   8031.0  4.139691      NaN     NaN        NaN  Middle
2017-04-18  2300.0   8475.0  3.684783      NaN     NaN        NaN  Middle
2017-04-19  1950.0   8132.0  4.170256      NaN     NaN        NaN  Middle
2017-04-20  1800.0  15328.0  8.515556      NaN     NaN        NaN    High
2017-04-21  1940.0  12849.0  6.623196      NaN     NaN        NaN    High
2017-04-22  2300.0   4029.0  1.751739      NaN     NaN        NaN     Low
2017-04-23  1950.0   3890.0  1.994872      NaN     NaN        NaN     Low
2017-04-24  1850.0   8093.0  4.374595      NaN     NaN        NaN  Middle
2017-04-25  1950.0   7823.0  4.011795      NaN     NaN        NaN  Middle
2017-04-26  1850.0   7492.0  4.049730      NaN     NaN        NaN  Middle
2017-04-27  1930.0   7203.0  3.732124      NaN     NaN        NaN  Middle
2017-04-28  1850.0   7302.0  3.947027      NaN     NaN        NaN  Middle
2017-04-29  2300.0   6033.0  2.623043      NaN     NaN        NaN     Low
2017-04-30  1950.0   4093.0  2.098974      NaN     NaN        NaN     Low
2017-04-01     NaN      NaN       NaN      0.0     1.0        0.0     NaN
2017-04-02     NaN      NaN       NaN      0.0     1.0        0.0     NaN
2017-04-03     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-04     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-05     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-06     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-07     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-08     NaN      NaN       NaN      0.0     1.0        0.0     NaN
2017-04-09     NaN      NaN       NaN      1.0     0.0        0.0     NaN
2017-04-10     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-11     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-12     NaN      NaN       NaN      0.0     1.0        0.0     NaN
2017-04-13     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-14     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-15     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-16     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-17     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-18     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-19     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-20     NaN      NaN       NaN      1.0     0.0        0.0     NaN
2017-04-21     NaN      NaN       NaN      1.0     0.0        0.0     NaN
2017-04-22     NaN      NaN       NaN      0.0     1.0        0.0     NaN
2017-04-23     NaN      NaN       NaN      0.0     1.0        0.0     NaN
2017-04-24     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-25     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-26     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-27     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-28     NaN      NaN       NaN      0.0     0.0        1.0     NaN
2017-04-29     NaN      NaN       NaN      0.0     1.0        0.0     NaN
2017-04-30     NaN      NaN       NaN      0.0     1.0        0.0     NaN