### ある一定期間分のデータを作成する
pandasを用いれば、一定期間分の日付データを作成することが出来る

In [3]:
import pandas
import numpy

In [2]:
dates = pandas.date_range(start="2021-03-28",end="2021-04-28")
dates

DatetimeIndex(['2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31',
               '2021-04-01', '2021-04-02', '2021-04-03', '2021-04-04',
               '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-10', '2021-04-11', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28'],
              dtype='datetime64[ns]', freq='D')

上記で作成した日付配列を、DataFrameのインデックスに指定する  
他の列のデータは一旦、乱数として埋める

In [5]:
data_frame = pandas.DataFrame(numpy.random.randint(1,31,len(dates)),
                              index=dates,
                              columns=["乱数"])
data_frame

            乱数
2021-03-28  16
2021-03-29  14
2021-03-30  24
2021-03-31  21
2021-04-01  22
2021-04-02   9
2021-04-03  30
2021-04-04  16
2021-04-05  26
2021-04-06  14
2021-04-07  21
2021-04-08  28
2021-04-09   6
2021-04-10  12
2021-04-11  28
2021-04-12   1
2021-04-13   1
2021-04-14  17
2021-04-15  12
2021-04-16  25
2021-04-17  10
2021-04-18  16
2021-04-19  18
2021-04-20  27
2021-04-21  30
2021-04-22  22
2021-04-23  17
2021-04-24   3
2021-04-25   8
2021-04-26  29
2021-04-27   7
2021-04-28  20

また、日付配列の作成には、長さの指定もできる

In [8]:
# 始点から1年分の日付配列を作成する
dates = pandas.date_range(start="2021-03-28",periods=365)
dates

DatetimeIndex(['2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31',
               '2021-04-01', '2021-04-02', '2021-04-03', '2021-04-04',
               '2021-04-05', '2021-04-06',
               ...
               '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21',
               '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25',
               '2022-03-26', '2022-03-27'],
              dtype='datetime64[ns]', length=365, freq='D')

In [9]:
data_frame = pandas.DataFrame(numpy.random.randint(1,31,len(dates)),
                              index=dates,
                              columns=["乱数"])
data_frame.head()

            乱数
2021-03-28  20
2021-03-29  29
2021-03-30  28
2021-03-31   5
2021-04-01  18

### 月平均データを求める
pandasで作成した日付インデックスを用いれば、簡単に月平均が求められる

In [12]:
data_frame.groupby(pandas.Grouper(freq="M")).mean()

                   乱数
2021-03-31  20.500000
2021-04-30  12.900000
2021-05-31  16.967742
2021-06-30  15.300000
2021-07-31  14.419355
2021-08-31  18.967742
2021-09-30  13.366667
2021-10-31  13.516129
2021-11-30  15.233333
2021-12-31  15.516129
2022-01-31  13.225806
2022-02-28  17.000000
2022-03-31  14.444444

DataFrameが持つ、groupbyメソッドでは、グループごとに処理を回すことが出来る  
pandasが持つ、Grouperで周期(freq)を用いる事で、グループの感覚を指定できる

In [14]:
# Wを指定すると週間になる
data_frame.groupby(pandas.Grouper(freq="W")).mean().head()

                   乱数
2021-03-28  20.000000
2021-04-04  18.714286
2021-04-11   8.857143
2021-04-18  12.857143
2021-04-25  10.571429

In [15]:
# Yを指定すると年間になる
data_frame.groupby(pandas.Grouper(freq="Y")).mean()

                   乱数
2021-12-31  15.222222
2022-12-31  14.837209

Grouperのより詳しい使い方は以下  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html

In [16]:
# data_frameの乱数列を月平均で置き換える
data_frame.loc[:,"乱数"].resample("M").mean()

2021-03-31    20.500000
2021-04-30    12.900000
2021-05-31    16.967742
2021-06-30    15.300000
2021-07-31    14.419355
2021-08-31    18.967742
2021-09-30    13.366667
2021-10-31    13.516129
2021-11-30    15.233333
2021-12-31    15.516129
2022-01-31    13.225806
2022-02-28    17.000000
2022-03-31    14.444444
Freq: M, Name: 乱数, dtype: float64

In [19]:
# より複雑な周期のデータを作成することも出来る
# 土曜日のみで365日分の日付配列を作成する
saturdays = pandas.date_range(start="2021-03-28",periods=365,freq="W-SAT")
saturdays

DatetimeIndex(['2021-04-03', '2021-04-10', '2021-04-17', '2021-04-24',
               '2021-05-01', '2021-05-08', '2021-05-15', '2021-05-22',
               '2021-05-29', '2021-06-05',
               ...
               '2028-01-22', '2028-01-29', '2028-02-05', '2028-02-12',
               '2028-02-19', '2028-02-26', '2028-03-04', '2028-03-11',
               '2028-03-18', '2028-03-25'],
              dtype='datetime64[ns]', length=365, freq='W-SAT')

In [20]:
# 一定期間中の土曜日のみで日付配列を作成する
saturdays = pandas.date_range(start="2021-03-28",end="2022-03-28",freq="W-SAT")
saturdays

DatetimeIndex(['2021-04-03', '2021-04-10', '2021-04-17', '2021-04-24',
               '2021-05-01', '2021-05-08', '2021-05-15', '2021-05-22',
               '2021-05-29', '2021-06-05', '2021-06-12', '2021-06-19',
               '2021-06-26', '2021-07-03', '2021-07-10', '2021-07-17',
               '2021-07-24', '2021-07-31', '2021-08-07', '2021-08-14',
               '2021-08-21', '2021-08-28', '2021-09-04', '2021-09-11',
               '2021-09-18', '2021-09-25', '2021-10-02', '2021-10-09',
               '2021-10-16', '2021-10-23', '2021-10-30', '2021-11-06',
               '2021-11-13', '2021-11-20', '2021-11-27', '2021-12-04',
               '2021-12-11', '2021-12-18', '2021-12-25', '2022-01-01',
               '2022-01-08', '2022-01-15', '2022-01-22', '2022-01-29',
               '2022-02-05', '2022-02-12', '2022-02-19', '2022-02-26',
               '2022-03-05', '2022-03-12', '2022-03-19', '2022-03-26'],
              dtype='datetime64[ns]', freq='W-SAT')

In [21]:
data_frame

            乱数
2021-03-28  20
2021-03-29  29
2021-03-30  28
2021-03-31   5
2021-04-01  18
...         ..
2022-03-23   9
2022-03-24  26
2022-03-25   5
2022-03-26  22
2022-03-27  13

[365 rows x 1 columns]

In [23]:
# 既にインデックスが日付で作成されているdata_frameを引数に渡すため、新しいDataFrameも日付がインデックスになる
saturday_group = pandas.DataFrame(data_frame.groupby(pandas.Grouper(freq="W-SAT")).sum(),
                                  columns=["乱数"])
saturday_group

             乱数
2021-04-03  138
2021-04-10   71
2021-04-17   82
2021-04-24   66
2021-05-01  123
2021-05-08  121
2021-05-15  100
2021-05-22  137
2021-05-29  128
2021-06-05  118
2021-06-12   70
2021-06-19   96
2021-06-26  147
2021-07-03  102
2021-07-10   75
2021-07-17  115
2021-07-24  102
2021-07-31  110
2021-08-07  145
2021-08-14  136
2021-08-21  132
2021-08-28  127
2021-09-04  117
2021-09-11   69
2021-09-18  107
2021-09-25   78
2021-10-02   80
2021-10-09   80
2021-10-16  113
2021-10-23  105
2021-10-30  114
2021-11-06  130
2021-11-13  105
2021-11-20  102
2021-11-27   82
2021-12-04   99
2021-12-11  120
2021-12-18   97
2021-12-25   96
2022-01-01  124
2022-01-08  105
2022-01-15   90
2022-01-22  107
2022-01-29   82
2022-02-05  118
2022-02-12  100
2022-02-19  142
2022-02-26   99
2022-03-05  116
2022-03-12  104
2022-03-19   79
2022-03-26  109
2022-04-02   13